<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
</head>
<body>
    {% extends "theme.html" %}
    {% block content %}
    <div class="container">
     {% for product in products.all %}
         <div class="row">

             <div class="card" style="width:18rem;">
             <img class="card-img-top" src="{{ product.icon.url }}" alt="Card image cap">

            </div>
             <div class="col-md-8" style="padding-left: 30px">
                 <h3><a href="products/{{ product.id }}">{{ product.title }}</a></h3>
                 <br>
                {{ product.intro }}
             </div>
         </div>
     {% endfor %}
    </div>

    {% endblock content %}
</body>
</html>